.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  color: var(--primary-color);
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  width: 100%;
}
