.card {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-height: 39.8rem;
}

.card1 {
  @media screen and (min-width: 1000px) {
    grid-row: 1/3;
  }
}

.img {
  min-width: 100%;
  height: auto;
  display: block;
}

.cover {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #2d8bc0bf;
  height: 238px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.8rem;
  justify-content: end;
  padding: 4rem;
}

.title {
  color: var(--light-text-color);
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
}

.button {
  background: none;
  border: 1px solid;
  border-color: var(--light-text-color);

  color: var(--light-text-color);
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 2.2rem;
}
